<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBConnection" connectionString="Data Source=localhost;Initial Catalog=NIOPDCXmlGenerator;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
	</startup>
	<appSettings>
		<add key="TelerikWinFormsThemeName" value="Fluent" />
	</appSettings>
</configuration>